@import "compass/reset";
@import "compass/css3";

$title_color: rgb(112, 112, 112);
$border_color: $title_color;
$title_text_color: rgb(225, 225, 225);

$row_color:       rgb(240, 240, 240);
$row_color_alt:   $row_color + 10;
$row_color_hover: $row_color - 10;

$link_color: rgb(50, 50, 50);
$text_color: rgb(37, 37, 37);

$post_author_color:  $row_color;
$post_message_color: $row_color + 10;

body {
  font: "Ubuntu", Sans-Serif;
  margin: 0px 20px;
  color: $text_color;
}

body a {
  color: $link_color;
}

table {
  width: 100%;
}

.category {
  border: 1px solid $border_color;
  margin: 20px 0px;

  .header {
    background: $title_color;
    color: $title_text_color;

    .title {
      font-size: 1em;
    }
  }

  th {
    padding: 10px 10px;
    font-size: 0.9em;
  }

  .statistics {
    width: 4em;
  }

  .last_post {
    width: 20em;
  }

  .statistics, .last_post {
    font-size: 0.9em;
  }

  .subcategory, .topic {
    background: $row_color;

    &:nth-child(even) {
      background: $row_color_alt;
    }

    &:hover {
      background: $row_color_hover;
    }

    td {
      padding: 10px 10px;
    }
  }
}

.posts {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.post {
  td {
    border: 1px solid $border_color;
    height: 12em;
    padding: 10px;
    vertical-align: top;
  }

  .author {
    background: $post_author_color;
    border-right: 0px;
    width: 15em;
  }

  .message {
    background: $post_message_color;
  }
}