<div class="pagination">
    {% if values.has_previous %}
        <a href="{% url 'show_category' category_id=category.id page=values.previous_page_number %}" class="previous">previous</a>
    {% endif %}

    {% with values.number|add:-2 as page %}
        {% if page > 0 %}
            <a class="page" href="{% url 'show_category' category_id=category.id page=page %}">{{ page }}</a>
        {% endif %}
    {% endwith %}

    {% with values.number|add:-1 as page %}
        {% if page > 0 %}
            <a class="page" href="{% url 'show_category' category_id=category.id page=page %}">{{ page }}</a>
        {% endif %}
    {% endwith %}

    <span class="page current_page">{{ values.number }}</span>

    {% with values.number|add:1 as page %}
        {% if page <= values.paginator.num_pages %}
            <a class="page" href="{% url 'show_category' category_id=category.id page=page %}">{{ page }}</a>
        {% endif %}
    {% endwith %}

    {% with values.number|add:2 as page %}
        {% if page <= values.paginator.num_pages %}
            <a class="page" href="{% url 'show_category' category_id=category.id page=page %}">{{ page }}</a>
        {% endif %}
    {% endwith %}

    {% if values.has_next %}
        <a href="{% url 'show_category' category_id=category.id page=values.next_page_number %}" class="next">next</a>
    {% endif %}
</div>