<table class="category subcategories">
    <tr class="header">
        <th class="title">
            {{ title }}
        </th>
        <th class="statistics">
            Statistics
        </th>
        <th class="last_post">
            Last message
        </th>
    </tr>
    {% for subcategory in subcategories %}
        <tr class="subcategory">
            <td class="title">
                <a href="{% url 'show_category' category_id=subcategory.id %}">{{ subcategory.title }}</a>
            </td>
            <td class="statistics">
               {{ subcategory.topic_count }} topic{{ subcategory.topic_count|pluralize }}<br/>
               {{ subcategory.post_count }} post{{ subcategory.post_count|pluralize }}
            </td>
            <td class="last_post">
                {% if subcategory.last_post %}
                    {% with subcategory.last_post as post %}
                        <p>{{ subcategory.last_post.date|date:"d F Y - h:i" }}</p>
                        <p>In <a href="{% url 'show_topic' topic_id=subcategory.last_post.topic_id %}">
                            {{ subcategory.last_post.topic_title|truncatechars:30 }}
                        </a></p>
                        <p>By {{ subcategory.last_post.author_username }}</p>
                    {% endwith %}
                {% else %}
                    No messages
                {% endif %}
            </td>
        </tr>
    {% empty %}
    <tr class="subcategory">
        <td class="title" colspan="3">No categories</td>
    </tr>
    {% endfor %}
</table>