<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% load compressed %}
    {% compressed_css 'base' %}
</head>
<body>
    {% block login %}
        {% if login_form %}
            <div class="login">
                <form action="{% url 'login' %}?next={{ request.path }}" method="post">
                    {% csrf_token %}
                    {{ login_form.non_field_errors }}
                    <div class="row username">
                        {{ login_form.username.errors }}
                        {{ login_form.username }}
                    </div>
                    <div class="row password">
                        {{ login_form.password.errors }}
                        {{ login_form.password }}
                    </div>
                    <input type="submit" value="Login" />
                </form>
            </div>
        {% endif %}
        {% if not request.user.is_anonymous %}
            <div class="userinfo">
                Hi, {{ request.user.get_full_name }}
                <a href="{% url 'logout' %}?next={{ request.path }}" class="logout">Logout</a>
            </div>
        {% endif %}
    {% endblock %}

    <div class="main">
        {% block main %}{% endblock %}
    </div>
</body>
</html>