{% extends "base.html" %}

{% block login %}{% endblock %}

{% block main %}
    <div class="login">
        <form action="{% url 'login' %}?next={{ request.GET.next }}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login" />
        </form>
    </div>
{% endblock %}