{% extends "base.html" %}

{% block main %}
    <a class="reply_button" href="{% url 'add_post' topic_id=topic.id %}">Add reply</a>
    {% if posts %}
        <table class="posts">
            {% for post in posts %}
                <tr class="post">
                    <td class="author" >{{ post.author.username }}</td>
                    <td class="message">{{ post.message }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}