{% extends "base.html" %}

{% block main %}
    <a class="new_topic_button" href="{% url 'add_topic' category_id=category.id %}">New topic</a>
    {% if topic_categories %}
        {% include '_subcategories.html' with subcategories=topic_categories title="Subforums" %}
    {% endif %}
    {% if topics %}
        <table class="category topics">
            <tr class="header">
                <th class="title">
                    Topics
                </th>
            </tr>
            {% for topic in topics %}
                <tr class="topic">
                    <td class="title">
                        <a href="{% url 'show_topic' topic_id=topic.id %}">{{ topic.title }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if topics.paginator.num_pages > 1 %}
            {% include '_pagination.html' with values=topics %}
        {% endif %}
    {% endif %}
{% endblock %}